---
import { siteConfig } from "../config/content";
---

<header>
  <nav>
    <a href="/" class="site-name">{siteConfig.name}</a>
    <div class="nav-links">
      <a href="/papers/">Papers</a>
      <a href="/cv/">CV</a>
      <a href="/music/">Music</a>
    </div>
  </nav>
</header>
